In [10]:
import pandas as pd

adres = "/workspace/pythonfundamentals/Egzersizler/fatih/data/pokemon.csv"

df = pd.read_csv(adres,index_col="#")

#df.head(3)

df.tail(3)


#df.describe()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True